body {
	font: 12px Tahoma, sans-serif;
}

.total-answers.total-people,
[class*=" total-"], [class^=total-] {
	color: #777;
}

.total-answers,
.total-percentage {
	color: #ccc;
}

/*
	lists
*/
/* lists with options summary */
ul[class^=summary-] {
	display: table;
	margin: 0;
	padding: 0;
}
ul[class^=summary-] > li.option {
	display: table-row;
}
ul[class^=summary-] > li.option > span {
	display: table-cell;
	padding: .2em .5em;
}

/* lists with text */
ul[class^=summary-text] {
	display: block;
	padding-left: 1.5em;
	padding-left: 1.5em;
}
ul[class^=summary-text] li {
	padding-bottom: .5em;
}

/*
	grids
*/
/* grid-table */
ul.summary-grid {
	display: block;
}
ul.summary-grid > li {
	display: block;
}
ul.summary-grid > li > span {
	display: none;
}
/* grid-cells */
.sub-summary {
	float : left;
	width: 260px;
	height: 12em;
	box-sizing: border-box;
	padding-right: 1em;
}
.sub-summary h2 {
	font-size: 100%;
}

/*
	groups
*/
.questions-group [class^=question-] {
	float : left;
	box-sizing: border-box;
	padding-right: 2em;
}

/*
	clear floats
*/
/* clear after container for floating elements */
.questions-group:after,
.summary-grid:after
{
	content: " ";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

/*
	charts
*/
/* select-one */
[class^=question-select-one] [id^=chart-container-] {
	width:200px;
	height:200px;
}
[class^=question-select-one] ul[class^=summary-] {
	float:left;
}

/* select-many/date */
[class^=question-select-many] [id^=chart-container-] {
	width:100%;
	max-width:700px;
	height:250px;
}
[class^=question-date] ul[class^=summary-],
[class^=question-select-many] ul[class^=summary-] {
	display: none;
}

/* date */
[class^=question-date] [id^=chart-container-] {
	height:200px;
	width:400px;
}

/* grid */
[class^=question-grid] [id^=chart-container-] {
	width:200px;
	height:200px;
}
[class^=question-grid] ul[class^=summary-select-] {
	display: none;
}
[class^=question-grid] .sub-summary {
	width: 220px;
	height: 220px;
}
[class^=question-grid] .sub-summary h2 {
	height: 2em;
}

[class^=question-grid] .total-answers {
	display: none;
}